<h1>Detalle de Persona</h1>
<div >
    <div>
        <label>Nombre </label> <span>:{{persona.nombre}}</span>
    </div>
    <div>
        <label>Apellido </label> <span>:{{persona.apellido}}</span>
    </div>
    <div>
        <label>Direccion </label> <span>:{{persona.direccion}}</span>
    </div>
    <div>
        <label>Pais </label> <span>:{{persona.pais}}</span>
    </div>
    <div>
        <label>Ciudad </label> <span>:{{persona.ciudad}}</span>
    </div>
    <div>
        <label>Fecha Nacimiento </label> <span>:{{persona.fechaNacimiento}}</span>
    </div>
</div>
<button [routerLink] = "['/registro']" [queryParams]="{ id: persona.id}" >Editar</button>
